ul.jstree-contextmenu {
    z-index: 9999;
}
div#pageContentScroller {
    overflow: hidden;
}
.paginatorContainer .pagination {
    margin: 9px;
}
#importList {
    overflow: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
#importDetailsListData {

}
#indexRequestsTree {
    /*height: 200px;*/
    /*width: 200px;*/
    /*border: 1px solid red;*/
}
#importDetailsBrowser {
    border: 1px solid red;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
#importDetailsBrowsingArea.bottomMatch {
    bottom: 100px;
}
#importDetailsBrowsingArea {
    border: 1px solid blue;
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 0;
    right: 15px;
}
.heightHalf {
    height: 50%;
}
.heightThird {
    height: 30%;
}
#indexRequestsTreeScroller {
    position: relative;
    border: 1px solid green;
    overflow: auto;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}
#importImagesScroller {
    border: 1px solid yellow;
    overflow: auto;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
#importImagesList {
    border: 1px solid cyan;
    position: relative;
    width: 100%;
    height: 100%;
}
#indexRequestsTree .jstree-anchor{
    right: 0px;
    width: 100%;
    padding-right: 25px;
}
.indexRequestsTreeHeader {
    /*border: 1px solid red;*/
    height: 16px;
    padding-right: 1px;
}
#indexRequestTreeHeaderRightColumns  {
    /*border: 1px solid green;*/
    float:right;
    font-size: x-small;
    height: 16px;
}
#indexRequestTreeHeaderTotalColumns  {
    /*border: 1px solid green;*/
    float:right;
    /*font-size: x-small;*/
    height: 20px;
}
div.node_postblock {
    float:right;
    /*border:1px solid red;*/
    width: auto;
}
div.node_postblock div.status {
    float: left;
    width: 100px;
    text-align: left;
}
div.node_postblock div.counts {
    float: left;
    width: 65px;
    text-align: right;
}
li.jstree-node i.NODE_STATUS_FOUND {
    background-image: url(../images/loading-16.gif);
    background-position: 1px 4px;
}
li.jstree-node i.NODE_STATUS_AWAITING {
    background-image: url(../images/timer-16.gif);
    background-position: 1px 4px;
}
li.jstree-node i.NODE_STATUS_ENUMERATING {
    background-image: url(../images/fill-fade-16.gif);
    background-position: 1px 4px;
}
li.jstree-node i.NODE_STATUS_ENUMERATED {
    background-image: url(../images/fill-fade-done-16.gif);
    background-position: 1px 4px;
}
li.jstree-node i.NODE_STATUS_FILES_PROCESSING {
    background-image: url(../images/pacman-16.gif);
    background-position: 1px 4px;
}
li.jstree-node i.NODE_STATUS_RESTART {
    background-image: url(../images/restart-16.png);
    background-position: 1px 4px;
}
li.jstree-node i.NODE_STATUS_SUB {
    background-image: url(../images/timer2-16.gif);
    background-position: 1px 4px;
}
li.jstree-node i.NODE_STATUS_FAILED {
    background-image: url(../images/warning.png);
    background-position: 1px 4px;
}
li.jstree-node i.NODE_STATUS_DONE {
    background-image: url(../images/check-16.png);
    background-position: 1px 4px;
}
.autoRefresh {
    float: right;
}
#sourceViewSwitcher {
    margin-top: 12px;
    float: left;
}