<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="mainlayout">
<head>
	<title>GalleryMine</title>
    <link rel="stylesheet" type="text/css" href="/css/importRequest.css" id="css"> </link>

    <script type="application/javascript" src="/js/cmp/progressBar.js" ></script>
    <script type="application/javascript" src="/js/cmp/sourceBlock.js"></script>
    <script type="application/javascript" src="/js/cmp/pager.js"></script>
    <script type="application/javascript" src="/js/cmp/sourceList.js"></script>
    <script type="application/javascript" src="/js/cmp/sourceProperties.js"></script>
    <script type="application/javascript" src="/js/cmp/viewSwitcher.js" ></script>

    <script type="application/javascript" src="/js/importRequest.js" ></script>

    <script type="application/javascript" th:inline="javascript">

        $(document).ready(function () {
            var lastDetailStr = /*[[${lastDetailJSON}]]*/ {};
            var lastDetail = JSON.parse(lastDetailStr);

            ImportRequestsTree.updateTotals(lastDetail);
        });

    </script>
</head>
<body>
    <section layout:fragment="pageButtons" class="container">
        <button type="button" id="btnRunRefresh" class="btn btn-info navbar-btn">Refresh</button>
        <button type="button" id="btnRunImport" class="btn btn-success navbar-btn">Run Import</button>
    </section>

    <section layout:fragment="pageNavigation" class="container">
        <div th:replace="support/switcher" ></div>
        <div th:replace="support/pager" ></div>
    </section>

	<section layout:fragment="pageButtonsRight" class="container">
        Empty Buttons pane
    </section>

	<section layout:fragment="pageButtonsCenter" class="container">
        Empty Center Buttons pane
    </section>

    <section layout:fragment="bodylevel" class="container">
    </section>

    <section layout:fragment="content" class="container">
        <div id="importList" class="col-sm-4" >
            <div id="importDetailsListData" >
                <input type="hidden" id="processId" th:value="${process.id}"></input>
                <input type="hidden" id="activeDetailId" th:value="${lastDetail?.id}"></input>
                <table class="table table-bordered table-striped">
                    <tr><td> Name </td><td name="process.name" th:text="${process.name}"></td> </tr>
                    <tr><td> Type </td><td name="process.type" th:text="${process.type}"></td> </tr>
                    <tr><td> Status </td>
                        <td>
                            <span name="process.status" th:text="${process.status}"></span>
                            <span class="glyphicon glyphicon-warning-sign log-container" th:if="${process.errors.size() > 0}">
                                <div name="process.errors" data-format="pre" class="log-content" th:text="${process.errorsText()}"></div>
                            </span>
                            <span class="glyphicon glyphicon-info-sign log-container" th:if="${process.notes.size() > 0}">
                                <div name="process.notes" data-format="pre" class="log-content" th:text="${process.notesText()}"></div>
                            </span>
                            <span class="autoRefresh"><input type="checkbox" id="autoRefreshCheck" >Auto-refresh</input></span>
                        </td>
                    </tr>
                    <tr><td> Started </td><td name="process.started" class="date" th:text="${process.started?.toString('YYYY-MM-dd HH:mm:ss')}"></td> </tr>
                    <tr><td> Finished </td><td name="process.finished" class="date" th:text="${process.finished?.toString('YYYY-MM-dd HH:mm:ss')}"></td> </tr>
                    <tr><td> Folder </td><td name="lastDetail.path" th:text="${lastDetail.path}" th:if="${lastDetail != null}"></td> </tr>
                    <tr><td> Progress: </td><td name="lastDetail.path" th:text="${lastDetail.path}" th:if="${lastDetail != null}"></td> </tr>
                    <tr><td class="text-right"> Folders:</td><td><div id="foldersProgress"></div></td></tr>
                    <tr><td class="text-right"> Files:</td><td><div id="filesProgress"></div></td></tr>
                    <!-- tr><td class="text-right"> Sample:</td><td><progress id="allProgress" class="progressbar" max="10" value="3"></progress></td></tr>
                    <tr><td class="text-right"> Sample:</td><td><progress id="allProgressA"  class="progressbar" ></progress></td></tr -->
                </table>
                <span class="section-header">Imports:</span>
                <table class="table table-bordered table-striped">
                    <tr th:each="detail : ${details}">
                        <td> Details status </td><td>
                            <span name="detail.status" th:text="${detail.status}">1</span>&nbsp;
                            <span class="glyphicon glyphicon-warning-sign log-container" th:if="${detail.errors.size() > 0}">
                                    <div name="detail.error" class="log-content" th:text="${detail.errorsText() }"></div>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="importDetailsBrowser" class="col-sm-8" >
            <div class="indexRequestsTreeHeader" >
                <div id="indexRequestTreeHeaderRightColumns"></div>
            </div>
            <div class="indexRequestsTreeHeader" >
                <div id="indexRequestTreeHeaderTotalColumns" class="jstree-node"></div>
            </div>
            <div id="importDetailsBrowsingArea" class="bottomMatch">
                <div id="indexRequestsTreeScroller" class="heightHalf">
                    <div id="indexRequestsTree" >
                    </div>
                </div>
                <div id="importImagesScroller" class="heightHalf">
                    <div id="importImagesList" >
                        <div id="sources" class="SourceBlockContainer">
                        </div>
                        <div id="sourceProperties" class="SourcePropsContainer">
                            <div id="sourcePropHeader" class="blockHeader">
                                <div class="title">Title</div>
                                <div class="icon">Ic</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sourcesMatches">
            </div>
        </div>
    </section>

    <section layout:fragment="footer" class="container">
    </section>

    <section layout:fragment="dialogs" class="container">
        <div id="templates">
            <div th:replace="support/sourceBlock" ></div>
            <div id="matchBlockTemplate">
                <div class="matchBlock">
                    <div class="matchBlockTitle" name="title">name of match</div>
                    <div class="matchBlockContent">
                        <div class="SourceBlockContainer compact">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="importTreeRow">
            <span name="name"></span>
            <div class="node_postblock">
                <div name="status" class="status">Status</div>
                <div name="totalStats.files" class="counts">Files</div>
                <div name="totalStats.filesDone" class="counts">/Done</div>
                <div name="totalStats.failed" class="counts">/Failed</div>
                <div name="totalStats.duplicates" class="counts">/Dupl</div>
                <div name="totalStats.skipped" class="counts">/Skip</div>
                <div name="totalStats.folders" class="counts">Folders</div>
                <div name="totalStats.foldersDone" class="counts">/Done</div>
            </div>
        </div>
    </section>
</body>
</html>
