<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="mainlayout">
<head>
	<title>GalleryMine</title>
    <link rel="stylesheet" type="text/css" href="lib/gallery/css/slideshow.css" id="cssSlideshow" />
    <script type="application/javascript" src="js/sourceProperties.js"></script>

    <script type="application/javascript" src="lib/gallery/js/gallery.js"></script>
</head>
<body>
	<section layout:fragment="pageButtons" class="container">
        <button type="button" id="refresh" class="btn btn-info navbar-btn">Refresh</button>
        <button type="button" id="apply" class="btn btn-success navbar-btn">Apply</button>
        <button type="button" id="reset" class="btn btn-warning navbar-btn">Reset</button>
    </section>

	<section layout:fragment="pageNavigation" class="container">
        <ul class="pagination pagination-sm">
            <li>
                <a href="#" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="middle"><a href="#">..</a></li>
            <li><a href="#">4</a></li>
            <li class="middle"><a href="#">..</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li>
                <a href="#" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        </ul>
	</section>

	<section layout:fragment="pageButtonsRight" class="container">
        <div id="breadcrumb">
            <ol class="breadcrumb" id="breadcrumblist">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
        </div>
        <div id="daterange">
            <div class="input-daterange input-group" id="datepicker">
                <input type="text" class="input-sm form-control" name="start" />
                <span class="input-group-addon">to</span>
                <input type="text" class="input-sm form-control" name="end" />
            </div>
        </div>
    </section>

	<section layout:fragment="bodylevel" class="container">
        <div id="slideshow">
            <ul class="controls">
                <li class="control previous">
                    <a href="#" title="Previous">Previous</a>
                </li>
                <li class="control next">
                    <a href="#" title="Next">Next</a>
                </li>
                <li class="control close">
                    <a href="#" title="Close">Close</a>
                </li>
            </ul>
            <div class="current">
                <div class="image img-header"></div>
                <p class="caption"></p>
            </div>
        </div>
    </section>

    <section layout:fragment="content" class="container">
        <div id="matchedSourcesContent" class="col-sm-2">
            <div id="folderTree">
            </div>
            <div id="datesTree">
            </div>
        </div>
        <div id="matchingLinesContent" class="col-sm-10">
            <div id="sources" class="SourceBlockContainer">
            </div>
            <div id="sourceProperties" class="SourcePropsContainer">
                <div id="sourcePropHeader" class="blockHeader">
                    <div class="title">Title</div>
                    <div class="icon">Ic</div>
                </div>
            </div>
        </div>
    </section>

    <section layout:fragment="footer" class="container">
    </section>

    <section layout:fragment="dialogs" class="container">
        <div id="contextMenuFolderAction" class="dropdown clearfix contextmenu">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
                <li><a tabindex="-1" href="#">Action</a></li>
                <li><a tabindex="-1" href="#">Another action</a></li>
                <li><a tabindex="-1" href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="#">Separated link</a></li>
            </ul>
        </div>
        <div id="templates">
            <div class="sourceBlock">
                <div class="sourceBlockBody">
                    <div class="matchingProperties">
                        <div class="filePath"></div>
                        <div class="folderStats">
                            <span class="message"></span>
                            <span class="data">
                            Files <span class="badge files"></span>
                            Matched  <span class="badge matched"></span>
                            Matchable <span class="badge matchable"></span>
                            Dups <span class="badge duplicates"></span>
                        </span>
                        </div>
                        <div class="fileName"></div>
                        <div class="fileSize"></div>
                        <div class="timeStamp"></div>
                    </div>
                    <div class="source_image" title="SimpleHint">
                        <a href="#" class="source_anch"><img class="img-thumbnail" /></a>
                    </div>
                    <div class="decisionBlock">
                        <span class="decisionButton btn_LATER glyphicon glyphicon-time" value="later"></span>
                        <span class="decisionButton btn_APPROVE glyphicon glyphicon-star" value="approve"></span>
                        <span class="decisionButton btn_DUPLICATE glyphicon glyphicon-remove" value="duplicate"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Image preview</h4>
                    </div>
                    <div class="modal-body">
                        <img src="" id="imagepreview" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
