<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="mainlayout">
<head>
	<title>GalleryMine</title>
	<link rel="stylesheet" type="text/css" href="lib/gallery/css/slideshow.css" id="cssSlideshow" />
	<script type="application/javascript" src="js/sourceProperties.js"></script>

	<script type="application/javascript" src="js/processes.js"></script>
</head>
<body>
    <section layout:fragment="pageButtons" class="container">
        <button type="button" id="refresh" class="btn btn-info navbar-btn">Refresh</button>
        <button type="button" id="btnRunImport" class="btn btn-success navbar-btn">Run Import</button>
    </section>

    <section layout:fragment="pageNavigation" class="container">
    </section>

	<section layout:fragment="pageButtonsRight" class="container">
    </section>

    <section layout:fragment="bodylevel" class="container">
    </section>

    <section layout:fragment="content" class="container">
        <div class="col-sm-10">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <!--<td>ID</td>-->
                        <td rowspan="2">Commands</td>
                        <td colspan="5">Process</td>
                        <td colspan="2">Details</td>
                    </tr>
                    <tr>
                        <!--<td>ID</td>-->
                        <td>Status</td>
                        <td>Type</td>
                        <td>Name</td>
                        <td>Started</td>
                        <td>Finished</td>

                        <td>Status</td>
                        <td>Progress</td>
                    </tr>
                </thead>
                <tbody>
                <tr th:if="${processes.size == 0}">
                    <td colspan="3">No processes</td>
                </tr>
                <tr th:each="detailed : ${processes}">
                    <td>
                        <a onclick="Processes.restartProcess(this);return false;" th:attr="rowid=${detailed.process.id}">restart</a>
                        &nbsp;
                        <a th:if="${detailed.process.type.name() == 'IMPORT'}" onclick="Processes.openDetails(this);return false;" th:attr="rowid=${detailed.process.id}">details</a>
                    </td>

                    <!--<td th:text="${process.id}">1</td>-->
                    <td class="nowrap">
                        <span th:text="${detailed.process.status}">1</span>&nbsp;
                        <span class="glyphicon glyphicon-warning-sign log-container" th:if="${detailed.process.errors.size() > 0}">
                            <div class="log-content" th:text="${detailed.process.errorsText()}"></div>
                        </span>
                        <span class="glyphicon glyphicon-info-sign log-container" th:if="${detailed.process.notes.size() > 0}">
                            <div class="log-content" th:text="${detailed.process.notesText()}"></div>
                        </span>
                    </td>
                    <td th:text="${detailed.process.type}">1</td>
                    <td th:text="${detailed.process.name}">1</td>
                    <td th:text="${detailed.process.started}">1</td>
                    <td th:text="${detailed.process.finished}">1</td>

                    <td class="nowrap">
                        <span th:text="${detailed.lastDetail?.status}">1</span>&nbsp;
                        <span class="glyphicon glyphicon-warning-sign log-container" th:if="${detailed.lastDetail?.error != null}">
                            <div class="log-content" th:text="${detailed.lastDetail.error}"></div>
                        </span>
                    </td>
                    <td>
                        <p class="nowrap">filesCount: <span th:text="${detailed.lastDetail?.filesCount}"></span></p>
                        <p class="nowrap">foldersCount: <span th:text="${detailed.lastDetail?.foldersCount}"></span></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section layout:fragment="footer" class="container">
    </section>

    <section layout:fragment="dialogs" class="container">

    </section>
</body>
</html>
