<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="mainlayout">
<head>
    <title>GalleryMine</title>
    <link rel="stylesheet" type="text/css" href="lib/gallery/css/slideshow.css" id="cssSlideshow" />
    <script type="application/javascript" src="js/sourceProperties.js"></script>

    <script type="application/javascript" src="lib/gallery/js/gallery.js"></script>
</head>
<body>
<section layout:fragment="pageButtons" class="container">
    <button type="button" id="refresh" class="btn btn-info navbar-btn">Refresh</button>
    <button type="button" id="apply" class="btn btn-success navbar-btn">Apply</button>
    <button type="button" id="reset" class="btn btn-warning navbar-btn">Reset</button>
</section>

<section layout:fragment="pageNavigation" class="container">
</section>

<section layout:fragment="pageButtonsRight" class="container">
    <div id="breadcrumb">
        <ol class="breadcrumb" id="breadcrumblist">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>
    </div>
    <div id="daterange">
        <div class="input-daterange input-group" id="datepicker">
            <input type="text" class="input-sm form-control" name="start" />
            <span class="input-group-addon">to</span>
            <input type="text" class="input-sm form-control" name="end" />
        </div>
    </div>
</section>

<section layout:fragment="bodylevel" class="container">
</section>

<section layout:fragment="content" class="container">
    <div class="col-sm-10">
        RequestUri : <p th:text="${#httpServletRequest.requestURI}"></p>
        <h1>Format ISO</h1>
        <p th:text="${#dates.formatISO(standardDate)}"></p>
        <!--<p th:text="${#temporals.formatISO(localDateTime)}"></p>-->
        <!--<p th:text="${#temporals.formatISO(localDate)}"></p>-->
        <!--<p th:text="${#temporals.formatISO(timestamp)}"></p>-->

        <h1>Format manually</h1>
        <p th:text="${#dates.format(standardDate, 'dd-MM-yyyy HH:mm')}"></p>
        <!--<p th:text="${#temporals.format(localDateTime, 'dd-MM-yyyy HH:mm')}"></p>-->
        <!--<p th:text="${#temporals.format(localDate, 'MM-yyyy')}"></p>-->

        <h1>Joda format</h1>
        <!--<p th:text="${#joda.mediumDate(dt)}"></p>-->
        <!--<p th:text="${#joda.fullDate(dt)}"></p>-->
        <!--<p th:text="${#joda.fullDateTime(dt)}"></p>-->
        <!--<p th:text="${#joda.fullTime(dt)}"></p>-->
        <!--<p th:text="${#joda.longDate(dt)}"></p>-->
        <!--<p th:text="${#joda.longDateTime(dt)}"></p>-->
        <!--<p th:text="${#joda.longTime(dt)}"></p>-->
        <!--<p th:text="${#joda.mediumDate(dt)}"></p>-->
        <!--<p th:text="${#joda.mediumDateTime(dt)}"></p>-->
        <!--<p th:text="${#joda.mediumTime(dt)}"></p>-->
        <!--<p th:text="${#joda.shortDate(dt)}"></p>-->
        <!--<p th:text="${#joda.shortDateTime(dt)}"></p>-->
        <!--<p th:text="${#joda.shortTime(dt)}"></p>-->
        <!--<p th:text="${#joda.isoDateTime(dt)}"></p>-->
    </div>
</section>

<section layout:fragment="footer" class="container">
</section>

<section layout:fragment="dialogs" class="container">

</section>
</body>
</html>
