<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
	<title>Gallery Mine</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />-->
	<link rel="stylesheet" type="text/css" th:href="@{/lib/jstree-3.3.4-dist/themes/default/style.min.css}" href="lib/jstree-3.3.4-dist/themes/default/style.min.css" id="csstree"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.css}" href="css/jquery-ui.css" id="cssui" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="css/common.css" id="cssCommon" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/sourceList.css}" href="css/sourceList.css" id="css" />

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" th:href="@{/lib/bootstrap-3.3.7-dist/css/bootstrap.css}" href="lib/bootstrap-3.3.7-dist/css/bootstrap.css" />
	<link rel="stylesheet" th:href="@{/lib/bootstrap-datepicker-1.6.4/css/bootstrap-datepicker.css}" href="lib/bootstrap-datepicker-1.6.4/css/bootstrap-datepicker.css" />

	<!-- Optional theme -->
	<link rel="stylesheet" th:href="@{/lib/bootstrap-3.3.7-dist/css/bootstrap-theme.css}" href="lib/bootstrap-3.3.7-dist/css/bootstrap-theme.css"/>

	<!-- Latest compiled and minified JavaScript -->
	<script type="application/javascript" src="/js/jquery-1.10.2.js"></script>
	<script type="application/javascript" src="/js/jquery-ui-1.11.1.min.js"></script>
	<script type="application/javascript" src="/js/jquery.loadTemplate.js"></script>
	<script type="application/javascript" src="/js/jquery.populate.js"></script>
	<script type="application/javascript" src="/js/jquery.form.js"></script>
	<script type="application/javascript" src="/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="application/javascript" src="/lib/bootstrap-datepicker-1.6.4/js/bootstrap-datepicker.js"></script>
	<script type="application/javascript" src="/lib/jstree-3.3.4-dist/jstree-3.3.5.js"></script>
	<script type="application/javascript" src="/js/common.js"></script>
	<script type="application/javascript" src="/js/ajaxHelper.js"></script>
	<script type="application/javascript" src="/js/error.js"></script>

</head>
<body>
    <section layout:fragment="bodylevel" th:remove="tag">Fake body level</section>
	<div class="container">
        <div id="pageHeader">
            <div id="pageHeaderLabel">
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Gallery Mine</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li th:classappend="${#httpServletRequest.requestURI == '/test'}?active"><a href="/test">Test</a></li>
                            <li th:classappend="${#httpServletRequest.requestURI == '/main'}?active"><a href="/main">Home</a></li>
                            <li th:classappend="${#httpServletRequest.requestURI == '/processes'}?active"><a href="/processes">Processes</a></li>
                            <li th:classappend="${#httpServletRequest.requestURI == '/Files'}?active"><a href="/files">Files</a></li>
                            <li>--></li>
                            <li><a href="/sourceList.html">SourceList</a></li>
                            <li><a href="/indexRequest.html">Indexing</a></li>
                            <li><a href="/importRequest.html">Importing</a></li>
                            <li><a href="/sourceMatching.html">Matching</a></li>
                            <li><a href="/monitoring?#spring">Monitoring</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><span class="label label-default navbar-label" id="message-label"></span></li>
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div id="pageMainButtons">
                <div id="pageMainButtonsContent">
                    <section layout:fragment="pageButtons" th:remove="tag">Fake buttons</section>
                    <nav aria-label="Page navigation" id="sourcesNav">
                        <section layout:fragment="pageNavigation" th:remove="tag">Fake navigation</section>
                    </nav>
                    <div id="pageCenterButtonsCenterer">
                        <div id="pageCenterButtons">
                            <section layout:fragment="pageButtonsCenter" th:remove="tag">Fake buttons Center</section>
                        </div>
                    </div>
                    <section layout:fragment="pageButtonsRight" th:remove="tag">Fake buttons Right</section>
                </div>
            </div>
        </div>
        <div id="pageContent" class="container-fluid row full-size">
            <div id="pageContentScroller">
		        <section layout:fragment="content" th:remove="tag">Fake content</section>
            </div>
        </div>
        <div id="pageFooter">
            <section layout:fragment="footer" th:remove="tag">Layout</section>
            <section layout:fragment="dialogs" style="display: none">Layout</section>
        </div>
    </div>
</body>
</html>